.sectionUne {
  padding: 50px;
}
.desc1 {
  padding-left: 140px;
}
.desc1 h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.desc1 h1 span {
  color: #2cc29c;
  font-weight: 500;
}
.desc1 p {
  font-size: 18px;
  font-weight: 600;
}
.desc2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.class1 {
  width: 35%;
  text-align: center;
  padding-bottom: 50px;
}
.class1 h1 {
  font-size: 30px;
  font-weight: 400;
}
.class1 h1 span {
  color: #2cc29c;
  font-weight: 600;
}
.class1 p {
  font-size: 18px;
}

.class2 {
  width: 40%;
}
.class2 img {
  width: 100%;
  border-radius: 35px;
}
.class1 button {
  margin-top: 20px;
  padding: 15px 40px;
  border-radius: 0;
  border: #2cc29c solid;
  background-color: black;
  font-size: 20px;
  font-weight: 400;
  color: #2cc29c;
  transition: 0.2s;
}

.class1 button:hover {
  background-color: black;
  border: none;
  color: white;
  border: white solid;
  font-size: 22px;
  font-weight: 500;
}
#prev {
  display: none;
}
.image-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mapElems {
  z-index: 1;
  width: 29%;
  height: 600px;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 30px 30px 40px 40px;
  background-color: rgba(255, 255, 255, 0.044);
  transition: background-color 0.4s, transform 0.3s;
}
.mapElems:hover {
  background-color: rgba(255, 255, 255, 0.144);
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px rgb(49, 49, 49);
  color: #cab6a6;
}
.mapElems img {
  width: 100%;
  height: 350px;
  border-radius: 30px 30px 0px 0px;
}
.mapElems h3 {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
}
.mapElems h3:hover {
  text-decoration: underline;
}

.mapElems p {
  padding: 0px 20px;
  margin: 0px 0px 10px 0px;
  text-indent: 15px;
  font-size: 16px;
}
.float {
  max-width: 100%;
  bottom: 300px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
}
.prev,
.suiv {
  background-color: #00000000;
  color: white;
  font-size: 30px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.prev:hover,
.suiv:hover {
  font-size: 24px;
  border: none;
}

@media (max-width: 1100px) {
  .desc1 {
    padding-left: 50px;
  }
  .desc2 {
    padding-top: 50px;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .class1 {
    width: 80%;
  }
  .class2 {
    width: 80%;
  }
  .mapElems {
    width: 40%;
  }
  .mapElems h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .mapElems p {
    font-size: 14px;
  }
}
@media (max-width: 730px) {
  .sectionUne {
    padding: 30px;
  }
  .desc1 {
    padding-left: 0px;
    position: relative;
    right: 10px;
    z-index: -1;
  }
  .desc1 h1 {
    font-size: 30px;
  }
  .desc1 p {
    font-size: 16px;
    font-weight: 400;
  }

  .class2 {
    width: 100%;
    border-radius: 15px;
  }
  .class1 h1 {
    font-size: 25px;
    font-weight: 300;
  }
  .class1 h1 span {
    font-weight: 500;
  }
  .class1 p {
    font-size: 14px;
  }
  .class1 button {
    margin-top: 10px;
    padding: 10px 34px;
    border-radius: 0;
    border: #2cc29c solid 2px;
    font-size: 18px;
    font-weight: 400;
  }
  .class1 button:hover {
    color: white;
    border: white solid 3px;
    font-size: 20px;
    font-weight: 500;
  }
  .mapElems {
    width: 80%;
  }
  .image-container {
    padding-top: 0px;
  }
  .float {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mapElems h3 {
    text-align: center;
    font-size: 16px;
  }

  .mapElems p {
    text-align: center;
    font-size: 12px;
  }
}
